# Based on LLVM with a few embedded-C++ tweaks
BasedOnStyle:        LLVM
IndentWidth:         2            # short indent for small screens
ColumnLimit:         100
UseTab:              Never
BraceWrapping:
  AfterFunction:     true
  AfterNamespace:    true
AlignConsecutiveDeclarations: true
AllowShortLambdasOnASingleLine: All
Cpp11BracedListStyle: false
IncludeBlocks:       Preserve
